<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'css/cart.css') }}">
    <title>LEGO Shop - Cart</title>
</head>
<body>
    <header>
        <img src="https://s8.uupload.ir/files/logo_fd.png" alt="LEGO Shop Logo" width="50" height="50">
    </header>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add">Add Item</a></li>
            <li><a href="/remove">Remove Item</a></li>
            <li><a href="/cart">Go to Cart</a></li>
        </ul>
    </nav>

    <main>
        <section>
            <h2>Shopping Cart</h2>
            {% if products_html %}
            <table>
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in products_html %}
                    <tr>
                        <td>{{row[0]}}</td>
                        <td><img src="{{row[2]}}" alt="item" height="240px" width="300px" /></td>
                        <td>${{row[1]}}</td>
                        <td>
                            <form action="/changeCartCount" method="get">
                                <input type="hidden" name="productId" value="{{row[0]}}">
                                <input type="number" name="stockCount" value="{{row[3]}}">
                                <input type="submit" value="Update">
                            </form>
                        </td>
                        <td>
                            <form action="/removeFromeCart" method="get">
                                <input type="hidden" name="productId" value="{{row[0]}}">
                                <input type="submit" value="Remove">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>Total Price: ${{totalPrice_html}}</p>
            <button onclick="location.href='/checkout'">Checkout</button>
            {% else %}
            <p>Your cart is empty. <a href="/">Continue shopping</a></p>
            {% endif %}
        </section>
    </main>
</body>
</html>
