<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src= "logo.png" width="50" height="50">
    <div class="dropdown">
        Hello! Welcome to Our LEGO Shop!
    <div class="dropdown-content"></div>
        <hr>
    <div>What Do You Want?</div>
    <td>
        <a href="/add">Add Item</a>
    </td> 
    <td>
        <a href="/remove">Remove Item</a>
    </td> 
    <td>
        <a href="/cart">Go to Cart</a>
    </td>  
    <div>
		<h2>Items</h2>
		<table>
			<tr id="productName">
				{% for row in itemData %}
				<td>
					Non
				</td>
				{% endfor %}
			</tr>
			<tr id="productImage">
				{% for row in imageList %}
				<td>
					<img src="{{row.url}}"  alt="item" height="240px" width="300px" />
				</td>
				{% endfor %}
			</tr>
			<tr id="productPrice">
				{% for row in itemData %}
				<td>
					${{row[1]}}
				</td>
				{% endfor %}
			</tr>
            <tr id="addToCart">
                {% for row in itemData %}
                <td>
                    <a href="/addToCart?productId={{row[0]}}">Add to Cart</a>
                </td>  
                {% endfor %}  
            </tr>
            
		</table>
	</div>    
</body>
</html>