<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <img src= "logo.png" width="50" height="50">
    <div class="dropdown">
</head>
<body>
    <h2>Remove items</h2>
    <div>
        <form action="/removeItem" method="POST" enctype="multipart/form-data">
            ID: <input type="text" name="id"><br>
            <input type="submit">
        </form>
    </div>
</body>
</html>